#database
DATABASE_URL=postgresql+psycopg2://user:password@db:5432/pt_manager_db

#secret key
API_KEY=uma_chave_secreta_muito_longa_e_segura

#Configurações de CORS- frontend local
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

#test
NOTIFICATION_TEST_MODE=true
NOTIFICATION_TEST_MINUTES=2

#Development
ENVIRONMENT=dev

#-- Notificações--
TIMEZONE=Europe/Lisbon
TRAINER_EMAIL=trainer@gmail.com

#--RESEND (EMAILS)--
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
EMAIL_FROM=noreply@teudominio.pt

# ========================================
# JWT CONFIGURAÇÕES
# ========================================
SECRET_KEY=uma_chave_secreta_muito_longa_e_segura

#Validade do token em minutos (ex: 60 para 1 hora)
ACCESS_TOKEN_EXPIRE_MINUTES=60

#trial em dias
TRIAL_DAYS=15

#=========================================
#STRIPE CONFIGURAÇÕES
#=========================================

#Chave secreta da API do Stripe
STRIPE_API_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

#Segredo do webhook do Stripe 
STRIPE_WEBHOOK_SECRET=we_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

#IDs dos prices
STRIPE_PRICE_FREE=price_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_PRICE_STARTER=price_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_PRICE_PRO=price_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

#URLs de redirecionamento após pagamento
STRIPE_SUCCESS_URL=http://localhost:5173/billing?success=true
STRIPE_CANCEL_URL=http://localhost:5173/billing?canceled=true
STRIPE_PORTAL_RETURN_URL=http://localhost:5173/billing

#=========================================
#Cloudinary CONFIGURAÇÕES
#=========================================
CLOUDINARY_CLOUD_NAME=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLOUDINARY_API_KEY=uma_chave_secreta_muito_longa_e_segura
CLOUDINARY_API_SECRET=uma_chave_secreta_muito_longa_e_segura

# =========================================
# Superuser 
# =========================================
SUPERUSER_EMAIL     = example@gmail.com
SUPERUSER_PASSWORD  = XXXXXXXX
SUPERUSER_NAME      = Superuser Name

# =========================================
# Personal Trainer Demo
# =========================================
DEMO_TRAINER_EMAIL=trainer@demo.pt
DEMO_TRAINER_PASSWORD=demo1234
DEMO_TRAINER_NAME=Personal Trainer Demo

# =========================================
# Client Demo
# =========================================
DEMO_CLIENT_EMAIL=cliente@demo.pt
DEMO_CLIENT_PASSWORD=demo1234
DEMO_CLIENT_NAME=Cliente Demo

